.main {
  width: 1000px;
  margin: auto;
  position: relative;
}
.main img.scheme {
  width: 100%;
}
.block {
  position: absolute;
  z-index: 2;
}
.block img {
  width: 64px;
}
.block .form {
  display: none;
  width: 150px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  margin-left: -65px;
  margin-top: 5px;
}
.block .form input {
  width: 100%;
  outline: none;
}
.block .form input.error {
  border: 1px solid red;
  color: red;
}
.block .form input {
  margin-bottom: 5px;
}
.block.active img {
  filter: brightness(1.2);
}
.block.active .form {
  display: block;
}
.form-check {
  font-size: 20px;
}
.block.r0 {
  top: 301px;
  left: 615px;
}
.block.r1 {
  top: 302px;
  left: 269px;
}
.block.r2 {
  top: 196px;
  left: 440px;
}
#typeProtocol {
  display: none;
}